img {
  width: 200px;
  height: 100px;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

button {
  margin: 10px;
  
}
